@import "./_normalize";
@import "./_base";


.above-the-fold {
    background-image: url('../images/computer-mouse.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 40px;

    .logo {
        width: 120px;
    }

    h1 {
        color: #fff;
    }
}
